:root {
    --container-max-width: 85.3125rem;
    --container-max-width-s: 57.5rem;
    --space-xl: 3.75rem;
    --space-l: 1.875rem;
    --space-m: 1.25rem;
    --space-s: 0.5rem;
    --space-xs: 0.25rem;
    --z-index-nav: 10;
    --z-index-header: 5;
    --z-index-top: 1000;
    --transition: 0.2s;
}
